Source: qasino
Section: unknown
Priority: extra
Maintainer: Brad Wasson <bwasson@mediamath.com>
Build-Depends: debhelper (>= 8.0.0), git, mercurial, pkg-config, libzmq3-dev
Standards-Version: 3.9.3

Package: qasino
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: hp
Description: Qasino
 Qasino is a stats collection database
